[Desktop Entry]
Type=Application
Name=DD-GUI
GenericName=Disk Imager
Comment=Flash images to USB drives and SD cards, back up, clone and wipe drives
Exec=DD-GUI %f
Icon=DD-GUI
Terminal=false
Categories=System;Utility;
Keywords=dd;flash;burn;write;iso;img;image;usb;sd;card;drive;disk;backup;clone;wipe;
StartupWMClass=DD-GUI
MimeType=application/vnd.efi.iso;application/x-cd-image;application/x-iso9660-image;application/vnd.efi.img;application/x-raw-disk-image;application/x-raw-disk-image-xz-compressed;
